*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
:root{
  --priamary-color: ;
  --secondary-color:#f39c12 ;
  --red: red;
  --black:black;
  --light-black:rgb(42, 39, 39);
  --shadow:rgb(200, 183, 183);
}
/* header area start */
.menu ul li .menu-hover:hover{
  color: var(--secondary-color);
}
.bg-image{
  background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.bg-image-content{
  width: 50%;
  padding: 250px 0;
  justify-content: space-between;
}
/* header area end */
.para{
  text-align: justify;
  line-height: 30px;
}
.card{
  box-shadow: 4px 6px 10px var(--shadow);
  transition: all .2s;
  border: 8px solid transparent;
}
.card:hover{
  border-top: 8px solid var(--red);
  box-shadow: 2px 4px 12px var(--black);
}
.client-image{
  background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(../images/client-choose.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-top{
  background-color: var(--light-black);
}